.modal.fade(id="bidModal")
    .modal-dialog(style="margin-top: 10%")
        .modal-content
            .modal-header
                button(type="button" data-dismiss="modal" aria-hidden="true").close &times;
                h4.modal-title Place Your Bid
            .modal-body
                | Current Bid: {{ }}

            .modal-footer
                button(type="button" data-dismiss="modal").btn.btn-danger Close
                button(type="button").btn.btn-primary Confirm Bid

div.row(ng-repeat="auction in auctions")
    .col-md-6
        .panel.panel-default
            .panel-heading
                h3.panel-title.pull-left {{ auction.name }}
                a(href='#').pull-right View History
                div(style="clear: both")
            .panel-body
                .row
                    img(src="http://placehold.it/100x100" ng-if="!auction.imageUrl").img-rounded.col-md-3
                    div.col-md-9
                        | Type: {{ auction.type }} </br>
                        | Current Bidder: {{ auction.currentBid.character }} <br/>
                        | Current Amount: {{ auction.currentBid.amount }}
                        form(role="form" style="margin-top: 10px;" ng-show="hasNewBid(auction._id)")
                            .form-group.input-group-sm
                                label(for="bidderName") Character Name:
                                input.form-control(id="bidderName" type="text" ng-model="newBids[auction._id].name")
                            .form-group.input-group-sm
                                label(for="bidderAmount") Amount:
                                input.form-control(id="bidderAmount" type="text" ng-model="newBids[auction._id].amount")
                .row
                    .pull-right(style="margin-right: 10px;")
                        button(ng-click="newBid(auction._id)" ng-if="!hasNewBid(auction._id)").btn.btn-default Place Bid
                        button(ng-click="cancelBid(auction._id)" ng-if="hasNewBid(auction._id)" style="margin-right: 10px").btn.btn-danger Cancel
                        button(ng-click="placeBid(auction._id)" ng-if="hasNewBid(auction._id)").btn.btn-default Confirm Bid
                        div(style="clear: both")